<!doctype html>

<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  <title>for later reference</title>

  <link href="https://fonts.googleapis.com/css?family=Fauna+One|Oleo+Script|Fugaz+One|Monda|Unica+One|Alegreya:400italic,400|Abril+Fatface|Vollkorn" rel="stylesheet" type="text/css">

  <link type="text/css" href="{{ url_for('pygments_css') }}" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
 </head>
 
 <body>
  <header>
   <a href="https://petterhj.no">PHJ</a> |
   <a href="{{ url_for('index') }}">for later reference</a> {% block breadcrumb %}{% endblock %}
  </header>

  <section id="content">
   {% block content %}{% endblock %}
  </section>
 </body>
</html>